<%- include('header'); -%>
<div class="container">
    <div class="background-glassmorphism mx-auto">
        <h4 class="mb-4 text-center fw-bold">Account Profile</h4>

        <div class="mb-3">
            <div class="small fw-bold mb-1">Account ID</div>
            <div id="UserId" class="mb-3"></div>

            <div class="small fw-bold mb-1">Name</div>
            <div id="UserName" class="mb-3"></div>

            <div class="small fw-bold mb-1">Email</div>
            <div id="UserEmail" class="mb-3"></div>

            <div class="small fw-bold mb-1">Date of Birth</div>
            <div id="UserDoB" class="mb-3"></div>

            <div class="small fw-bold mb-1">Gender</div>
            <div id="UserGender" class="mb-3"></div>
        </div>

        <div class="text-center mt-4">
            <a href="/logout" class="btn btn-glass">Log Out</a>
        </div>
    </div>
</div>
<%- include('footer') %>
