<%- include('header'); -%>
<div class="container">
    <div class="background-glassmorphism mx-auto">
        <h2 class="text-center">Reset Password</h2>
        <form>
            <input type="hidden" id="token" value="<%= token %>" />
            <div class="mb-4">
                <label class="form-label">Password</label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="Enter your password"
                    required
                />
                <div class="invalid-feedback">
                    Password must be at least 6 characters.
                </div>
            </div>
            <div class="mb-4">
                <label class="form-label">Re-enter Password</label>
                <input
                    type="password"
                    name="confirmPassword"
                    id="confirmPassword"
                    class="form-control"
                    placeholder="Re-enter your password"
                    required
                />
                <div class="invalid-feedback">Passwords do not match.</div>
            </div>
            <button type="submit" class="btn btn-glass w-100 py-2 mb-3">
                Reset Password
            </button>
            <div class="text-center mt-3">
                Already have an account?
                <a href="/" class="text-purple underline-hover">Login</a>
            </div>
        </form>
    </div>
</div>
<%- include('footer') %>
